@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900|Roboto:100,400,500,700,900|Open+Sans:400');
* {
    outline-width: 0;
    font-family: 'Roboto';
}

// VARIABLES
$main: #0072bb;


// SET CLASSES
.f {display: flex;}
.f1 {flex: 1;}
.f2 {flex: 2;}
.f3 {flex: 3;}
.f4 {flex: 4;}
#wrapper {
    width: 1280px;
    margin: 0 auto;
}

// RULES





.banner {
    height: 650px;
    background: url('../img/Banner 1.jpg') center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 300px 30px rgba(0,0,0,0.5);
    p {
        margin: 90px 0 0 0;
        color: #fff;
        font-weight: 500;
        font-style: italic;
        text-shadow: 0 5px 5px rgba(0,0,0,0.5);
    }
    h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        color: #fff;
        font-size: 52px;
        margin-top: 0;
        text-shadow: 0 5px 5px rgba(0,0,0,0.5);
    }
    a {
        color: #fff;
        background: $main;
        padding: 15px 25px;
        border-radius: 50px;
        text-decoration: none;
        font-weight: 600;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
        font-family: 'Montserrat';
        font-size: 12px;
        transition: 0.2s ease;
        &:hover {
            background: darken($main, 3%);
        }
    }
}
.galBanner {
    height: 200px;
}
.subBanner {
    height: 290px;
}
.repairBanner {
    height: 300px;
    h1 {
        margin-bottom: 10px;
    }
    h3 {
        font-family: 'Montserrat';
        color: #fff;
        text-shadow: 0 2px 3px #000, 0 2px 3px #000;
        font-weight: 600;
        margin: 0;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px;
    box-sizing: border-box;
    transition: 0.2s ease;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.6),transparent);
    &.change {
        background: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        .navRight a {
            text-shadow: none;
            color: #444;
            border-color: #444;
            &:last-child:hover {
                color: #fff;
                background: #444;
            }
        }
        img {
            filter: invert(1) hue-rotate(180deg);
        }
    }
}
.navLeft {
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    img {
        width: 150px;
        transition: 0.2s ease;
    }
    p {
        margin: -10px 0 0 30px;
        font-family: 'bank_gothicregular';
        letter-spacing: -1.5px;
        text-shadow: 0 2px 3px rgba(0,0,0,0.6);
        transition: 0.2s ease;
    }
}
.navRight {
    justify-content: flex-end;
    align-items: center;
    a {
        color: #fff;
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 500;
        margin-left: 15px;
        padding: 10px 25px;
        text-shadow: 0 2px 5px #000;
        transition: 0.2s ease;
        &:last-child {
            border-radius: 50px;
            border: 2px solid #fff;
            &:hover {
                background: #fff;
                color: #444;
                text-shadow: none;
            }
        }
    }
}
.hamburger {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 34px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 100;
    padding: 17px;
    .bar {
        height: 3px;
        width: 85%;
        background: #444;
        position: relative;
        &:before, &:after {
            content: "";
            height: 3px;
            width: 100%;
            background: #444;
            position: absolute;
            display: block;
        }
        &:before {
            margin-top: -10px;
        }
        &:after {
            margin-top: 10px;
        }
    }
}
.tableContainer {
    overflow: hidden;
    header {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 20px;
        h1 {
            font-weight: 400;
        }
    }
}
.tableTitle {
    padding-bottom: 10px;
    h2 {
        font-weight: 400;
        margin: 0;
        svg {
            padding-left: 10px;
        }
    }
}
#optionBottom {
    justify-content: center;
    flex-wrap: wrap;
}
#tableWrapper {
    margin: 0 25px;
    &:nth-child(n+4) {
        margin-top: 35px;
    }
}
#table {
    width: 350px;
    background: #f8f8f8;
    border-radius: 5px;
    align-items: flex-start;
}
.tableHead {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}
.tableRow {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(even) {
        background: darken(#f8f8f8, 5%);
    }
}
.tableLeft {
    width: 65%;
    padding: 15px;
    box-sizing: border-box;
    h3 {
        margin: 0;
    }
}
.tableRight {
    width: 35%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
}






// OVERWRITE JQUERY UI
.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav {
    float: initial !important;
    margin: 0 !important;
    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav {
    display: flex;
    cursor: default;
    flex-wrap: wrap;
    justify-content: center;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: block !important;
    padding: 10px 20px !important;
    background: #eee !important;
    color: #444 !important;
    margin: 10px !important;
    border-radius: 3px;
    cursor: pointer !important;
    transition: 0.1s ease;
    &:hover {
        background: darken(#eee, 5%) !important;
    }
}
.ui-tabs {
    padding: 0;
    margin-top: 35px;
}








.header {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 600;
}
section {
    padding: 100px 0;
    box-sizing: border-box;
    header {
        text-align: center;
        padding-bottom: 50px;
    }
    &:nth-child(odd) {
        background: #f8f8f8;
    }
}





.aboutContainer {
    .me {
        padding-right: 50px;
        img {
            border-radius: 50%;
            width: 240px;
            height: 240px;
            box-shadow: 0 2px 3px rgba(0,0,0,0.3);
        }
    }
    .info {
        flex-direction: column;
        justify-content: center;
        h3 {
            margin: 0;
            font-size: 32px;
            margin: 0 0 5px 0;
            font-weight: 600;
        }
        p {
            margin: 0;
        }
        ul {
            padding: 15px 0 0;
            margin: 0;
            cursor: default;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 5px;
                a {
                    color: $main;
                    width: 42px;
                    height: 42px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    border-radius: 10px;
                    transition: 0.2s ease;
                    &:hover {
                        background: rgba(0,0,0,0.1);
                        color: darken($main, 10%);
                    }
                }
            }
        }
    }
}


.servicesContainer {
    flex-wrap: wrap;
    justify-content: center;
}
.service {
    width: 580px;
    margin: 0 25px 55px;
    .icon {
        padding-right: 25px;
        min-width: 75px;
        align-items: center;
        img {
            width: 100%;
            max-height: 75px;
        }
    }
    .text {
        flex-direction: column;
        justify-content: center;
        p {
            margin: 10px 0 0;
            font-family: 'Montserrat';
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}


#galContainer {
    padding: 50px 0 100px;
}
#galRow {
    margin-bottom: 35px;
    padding-bottom: 45px;
    box-shadow: inset 0 -1px 0 #ddd;
    header {
        padding-bottom: 15px;
        h1 {
            margin: 0;
            font-size: 24px;
            font-family: 'Montserrat';
            font-weight: 400;
        }
        p {
            margin: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
        box-shadow: none;
    }
}
#galleryBody {
    flex-wrap: wrap;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 5px;
    &:hover .gal {
        filter: brightness(75%) contrast(75%);
    }
    .gal {
        width: 25%;
        height: 180px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: 0.2s ease;
        &:hover {
            filter: brightness(100%);
            z-index: 2;
        }
        img {
            width: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.galMore {
    width: 250px;
    display: block;
    margin: 50px auto 0;
    text-align: center;
    border: 2px solid #444;
    color: #444;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.2s ease;
    &:hover {
        background: #444;
        color: #fff;
    }
}



#repairsBody {
    padding-top: 25px;
}
#repairPanels {
    justify-content: center;
    flex-wrap: wrap;
}
.repairPanel {
    width: 300px;
    height: 300px;
    background: #eee;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    border-radius: 5px;
    cursor: pointer;
    svg {
        font-size: 72px;
        color: #434343;
    }
    img {
        width: 80%;
        filter: invert(70%)
    }
    * {
        user-select: none !important;
    }
}
.option {
    border-top: 1px solid #eee;
    margin-top: 35px;
    display: none;
}
.deviceHeader {
    text-align: center;
    padding-top: 25px;
}
#repairOthers {
    justify-content: center;
    margin-top: 25px;
    a {
        display: block;
        text-decoration: none;
        margin: 0 15px;
        background: $main;
        color: #fff;
        padding: 10px 20px;
        border-radius: 3px;
        text-align: center;
        transition: 0.2s ease;
        svg {
            padding: 0 5px;
        }
        &:hover {
            background: darken($main, 5%);
        }
    }
}








#blogNav {
    padding: 20px 0;
    justify-content: center;
    a {
        margin: 0 10px;
        display: block;
        text-decoration: none;
        background: #444;
        color: #fff;
        padding: 10px 0;
        width: 300px;
        border: 2px solid #444;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        transition: 0.1s ease;
        &:hover {
            background: transparent;
            color: #444;
        }
    }
}
.blogContainer {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ddd;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}
.featuredContainer {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.1);
    border-bottom: 3px solid $main;
    overflow: hidden;
    margin-bottom: 35px;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    .head {
        overflow: hidden;
        width: 450px;
        position: relative;
        img {
            width: 100%;
            margin-bottom: -5px;
        }
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0,0,0,0.6);
            color: #fff;
            margin: 0;
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .body {
        flex: 1;
        padding: 25px;
        box-sizing: border-box;
        h3 {
            margin-bottom: 15px;
        }
        p {
            font-family: 'Montserrat';
            margin: 0;
        }
        .blogBtn {
            text-decoration: none;
            color: #444;
            font-weight: 500;
            margin-top: 40px;
            display: block;
            border: 2px solid #444;
            width: 250px;
            text-align: center;
            padding: 10px 0;
            border-radius: 3px;
            overflow: hidden;
            transition: 0.1s ease;
            &:hover {
                background: #444;
                color: #fff;
            }
        }
    }
    .facebook {
        display: none;
        border-top: 1px solid #eee;
        padding: 20px;
        box-sizing: border-box;
    }
}
.facebookBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    background: $main;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    transition: 0.1s ease;
    border-top-left-radius: 3px;
    z-index: 1;
    &:hover {
        background: lighten($main, 5%);
    }
}
.latestContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.latestPost {
    width: 400px;
    margin: 0 auto;
}



.fb-share-button {
    position: absolute !important;
    top: 20px;
    right: 20px;
}
.fb-comments {
    width: 100% !important;
    span {
        width: 100% !important;
        iframe {
            width: 100% !important;
        }
    }
}
.fb-page {
    margin: 0 auto;
}



















#contact {
    background: url('../img/bannerLarge.jpeg') center fixed;
    background-size: cover;
}
.contactForm {
    border-radius: 3px;
    overflow: hidden;
    background: $main;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4), 0 3px 6px rgba(0,0,0,0.2);
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.formLeft {
    background: url('../img/maps.jpg') center;
    box-shadow: inset 0 0 0 300px rgba(240,240,240,0.85);
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    p {
        margin: 5px 0 0;
        font-family: 'Montserrat';
        width: 90%;
    }
    .f {
        margin-bottom: 35px;
        color: #444;
        div:first-child {
            padding-right: 20px;
        }
        div span {
            font-family: 'Open Sans';
        }
    }
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid $main;
    position: absolute;
    left: -30px;
    top: 30px;
}
.formRight {
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.formDiv {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    input, textarea {
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #fff;
        background: rgba(0,0,0,0);
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
        font-weight: 500;
        text-indent: 35px;
        &:focus {
            box-shadow: inset 0 0 0 1px #fff;
        }
        &::placeholder {
            color: #fff;
        }
    }
    textarea {
        resize: vertical;
        height: 150px;
    }
    .placeHolder {
        position: absolute;
        color: #fff;
        top: 22px;
        left: 22px;
    }
    button {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #fff;
        background: transparent;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        color: #fff;
        font-weight: 500;
        transition: 0.2s ease;
        &:hover {
            background: #fff;
            color: #666;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}













@media only screen and (max-width: 1280px) {
    #wrapper {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 860px) {
    .banner {
        text-align: center;
        height: 500px;
        img {
            width: 85%;
        }
    }
    .hamburger {
        display: flex !important;
    }
    .galBanner {
        height: 250px;
    }
    nav {
        background: #fff !important;
        display: block !important;
        padding: 0 !important;
        box-shadow: 0 5px 10px rgba(0,0,0,0.5) !important;
        img {
            filter: invert(1) hue-rotate(180deg);
        }
        p {
            color: #444 !important;
            text-shadow: none !important
        }
        &.change a {
            border-color: #ddd !important;
            &:last-child {
                background: #fff !important;
            }
        }
    }
    .navLeft {
        padding: 15px !important;
        box-sizing: border-box !important;
        a {
            width: 160px !important;
        }
    }
    .navRight {
        display: none;
        a {
            display: block !important;
            width: 100% !important;
            margin-left: 0 !important;
            color: #444 !important;
            text-shadow: none !important;
            border-top: 2px solid #ddd;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
            &:last-child {
                border: none !important;
                border-top: 2px solid #ddd !important;
                border-radius: 0 !important;
            }
        }
    }
    .aboutContainer {
        display: block;
        .me {
            padding-right: 0 !important;
            text-align: center;
        }
        .info {
            margin-top: 25px;
            text-align: center;
        }
    }
    .service {
        display: block;
        .icon {
            padding-right: 0;
            padding-bottom: 25px;
            display: flex;
            justify-content: center;
            img {
                width: initial;
            }
        }
        .text {
            text-align: center;
        }
    }
    .contactForm {
        flex-direction: column;
    }
    .formLeft {
        padding: 35px 75px;
    }
    .arrow-left {
        left: 50%;
        top: -30px;
        transform: rotate(90deg) translateX(-50%);
    }
    #galleryBody .gal {
        width: 33.33%;
    }
    .repairPanel {
        height: 200px;
        width: 100%;
        margin-bottom: 35px;
    }
    #tableWrapper {
        margin: 0 !important;
        width: 100% !important;
    }
    #table {
        width: 100%;
        margin-bottom: 35px;
    }
    .mainContainer {
        display: block;
    }
    .featuredContainer {
        .head {
            width: 100%;
        }
        .body {
            padding-bottom: 65px;
            .facebookBtn {
                left: 0;
                width: 100%;
                border-radius: 0;
            }
        }
        .facebook {
            padding-bottom: 50px;
        }
    }
}
@media only screen and (max-width: 720px) {
    #galleryBody .gal {
        width: 50%;
    }
    #galleryBody .gal:nth-child(n+7) {
        display: none;
    }
    .banner img {
        width: 95%;
    }
}
@media only screen and (max-width: 480px) {
    #galleryBody .gal {
        width: 100%;
    }
    .contactForm {
        width: 100%;
    }
    .formLeft {
        padding: 25px;
    }
}






@media only screen and (min-width: 860px) {
    .hamburger {
        display: none;
    }
    .navRight {
        display: flex !important;
    }
}
















//
